ORACLE_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521:orcl
ORACLE_USER=
ORACLE_PASSWORD=

JWT_SECRET=mude-esta-chave-em-producao-para-um-valor-secreto-com-32-bytes
PYTHON_ANALISE_URL=http://python:8000/analisar
